*
{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Food.PNG');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: aqua;
}
.nav-menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-menu li{
    display: inline-block;
    
}
.nav-menu li a{
    color: rgb(247, 244, 75);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Tahoma;
    font-size: 20px;
}
.homebtn a{
    border: 0.5px solid grey;
    background-color: rosybrown;
}
.nav-menu li a:hover{
    border: 1px solid white;
    background-color: rosybrown;
}
.tagline{
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}
h1{
    color:turquoise);
    font-size: 50px;
    font-family: Tahoma;
    text-align: center;
    margin-top: 275px;
}
h4{
    color: rgb(12, 225, 19);
    font-size: 50px;
    font-family: Tahoma;
    text-align: center;
    
}
.order{
    margin-top: 30px;
    margin-left: 540px;
}
.bttn{
    border: 1px solid white;
    padding: 10px 30px;
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-decoration: none;
}
.order a:hover{
    background-color: bisque;
}